<mat-card [routerLink]="[entry._id]" class="card entry-item">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{entry.title}}</mat-card-title>
      <mat-card-subtitle>
        by <button mat-button color="accent"
                   [routerLink]="['..', 'users', entry.user._id]">
              {{entry.user.username ? entry.user.username : "anonymous"}}
          </button>
        </mat-card-subtitle>
        <mat-card-subtitle>
            created at <span>{{getCreatedTime()}}</span>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
